

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
        line-height: 1.6;
    }

    header {
        background-color: #03386e;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    header a {
        color: #f2e099;
        text-decoration: none;
        margin: 0 5px;
    }

    section {
        background-color: white;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    h2 {
        color: #03386e;
        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    table, th, td {
        border: 1px solid #ccc;
    }

    th {
        background-color: #03386e
        color: white;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    ul {
        padding-left: 20px;
    }

    footer {
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: #03386e;
        color: white;
        border-radius: 10px;
    }